body {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 100px;
    padding-bottom: 0;
    min-width: 380px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Site Layout */
.navbar-header {
    height: 75px;
    display: inline-block;
    float: left;
}

.navbar button > span {
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.navbar button:hover > span {
    background-color: transparent;
    color: #2196f3;
}

.navbar-brand {
    padding-top: 0;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding-bottom: 0;
    height: 100%;
}

    .navbar-brand > img {
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

#search-navbar {
    display: inline-block;
    float: right;
    margin-bottom: 10px;
    width: auto;
    margin-top: 17.5px;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
    padding: 0 3px;
}

@media (max-width: 768px) {
    #search-navbar > form > div > input {
        width: 0;
    }
}

.navbar-search-button {
    margin: 0;
    padding: 0;
    float: right;
    display: inline-block;
    height: 40px;
    -moz-transition: position 0.5s;
    -o-transition: position 0.5s;
    -webkit-transition: position 0.5s;
    transition: position 0.5s;
}

    .navbar-search-button > button {
        border-color: transparent;
        background-color: transparent;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

        .navbar-search-button > button:hover {
            border-color: transparent;
            background-color: transparent;
        }


.navbar-search-input {
    -moz-transition: width .5s;
    -o-transition: width .5s;
    -webkit-transition: width .5s;
    transition: width .5s;
    height: 40px;
    width: 200px;
}

    .navbar-search-input:focus {
        outline: none;
    }

.navbar-search-hidden {
    width: 0;
}

.navbar-search.navbar-search-hidden {
    width: auto;
    overflow: hidden;
}

@media(max-width: 768px) {
    .navbar-search.navbar-search-hidden {
        position: relative;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        top: 0;
        right: 0;
        padding: 0;
        background-color: transparent;
    }

    .navbar-search {
        background-color: white;
        border: none;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        position: absolute;
        top: 50px;
        right: 65px;
        width: auto;
        padding: 5px;
    }

    .navbar-search-input {
        width: 15em;
    }

        .navbar-search-input.navbar-search-hidden {
            width: 0;
        }
}

@media(max-width: 380px) {
    .navbar-search {
        right: 5%;
    }
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    width: 275px !important;
}


.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

    .autocomplete-group strong {
        display: block;
        border-bottom: 1px solid #000;
    }

.navbar-quicklink {
    height: 75px;
    float: right;
}

    .navbar-quicklink > span {
        height: auto;
        position: relative;
        margin-top: 29px;
        color: #444;
    }

.vtn-breadcrumbs {
    display: block;
    overflow: hidden;
    position: relative;
    height: 50px;
    margin-top: 12.5px;
}

    .vtn-breadcrumbs ol {
        font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        list-style-position: inside;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: 8px;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

        .vtn-breadcrumbs ol::-webkit-scrollbar {
            display: none;
        }

        .vtn-breadcrumbs ol li {
            background-color: transparent;
            font-size: 1.75em;
        }

@media (max-width: 768px) {
    .vtn-breadcrumbs ol li {
        background-color: transparent;
        font-size: 1.25em;
    }
}

.breadcrumb > .active {
    color: #444;
}

#loginToggle {
    margin-top: 16.5px;
    margin-bottom: 0;
}

    #loginToggle > span.glyphicon {
        height: auto;
        vertical-align: central;
    }

@media(max-width: 768px) {

    #login-partial.collapse {
        height: 0;
        overflow: hidden;
        width: 0;
    }

    #login-partial.in, #login-partial.collapsing {
        background-color: white;
        border: none;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        position: absolute;
        top: 75px;
        margin-top: 0;
        left: 0;
        width: 100%;
    }

        #login-partial.in ul,
        #login-partial.collapsing ul {
            position: relative;
            top: 0;
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
            font-size: 1.25em;
        }

            #login-partial.in ul > li,
            #login-partial.collapsing ul > li {
                display: block;
                padding: 3px;
            }
}

@media(min-width: 769px) {
    #login-partial {
        display: inline;
        height: 40px !important;
        margin-top: 17.5px;
        margin-right: 5px;
        margin-bottom: 0;
        float: right;
    }
}

#login-partial > ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

    #login-partial ul > li {
        padding-right: 10px;
        display: inline;
    }

        #login-partial ul > li > a {
            color: #444;
        }

#logoutForm > ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 8.5px;
}
